<%- include("../includes/header.ejs", {title:"Companies"}); %>
    <h1>Skills</h1>
    <ul>
        <li>Skill Name: <%= result[0].skill_name %></li>
        <li>Descriptions:
            <ul>
                <li> <% result[0].description %></li></li>
            </ul>
        </li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>